
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Home Page</h3>
</div>

@Html.Partial("_IndexViewPartial")

@Ajax.ActionLink(
    "Search Users",
    "Search",
    "Home",
    new AjaxOptions { UpdateTargetId = "user-search" }
)

<div id="display"></div>

<div id="user-search"></div>

<div id="user-add"></div>